modules = ["nodejs-24", "python-3.11"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Face Auth"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[[workflows.workflow]]
name = "Face Auth"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=19434 BASE_PATH=/ pnpm --filter @workspace/face-auth run dev"
waitForPort = 19434

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_EMAILJS_SERVICE_ID = "service_dl0qva7"
VITE_EMAILJS_TEMPLATE_ID = "template_5n2lykm"
VITE_EMAILJS_PUBLIC_KEY = "UmaDeupHmxUmDWaXj"

[nix]
channel = "stable-25_05"
packages = ["libxcrypt"]
